/*  
	Copyright 1988-2000 by Autodesk, Inc.

	Permission to use, copy, modify, and distribute this software
	for any purpose and without fee is hereby granted, provided
	that the above copyright notice appears in all copies and
	that both that copyright notice and the limited warranty and
	restricted rights notice below appear in all supporting
	documentation.

	AUTODESK PROVIDES THIS PROGRAM "AS IS" AND WITH ALL FAULTS.
	AUTODESK SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTY OF
	MERCHANTABILITY OR FITNESS FOR A PARTICULAR USE.  AUTODESK, INC.
	DOES NOT WARRANT THAT THE OPERATION OF THE PROGRAM WILL BE
	UNINTERRUPTED OR ERROR FREE.

	Use, duplication, or disclosure by the U.S. Government is subject to
	restrictions set forth in FAR 52.227-19 (Commercial Computer
	Software - Restricted Rights) and DFAR 252.227-7013(c)(1)(ii) 
	(Rights in Technical Data and Computer Software), as applicable.

    Autodesk Publish to Web Theme 

    // LOCALIZATION_BEGIN
    <meta name="adsk_ptw_theme_name" content="Classic">
    // LOCALIZATION_END

    <meta name="adsk_ptw_theme_image" content="ptw_Classic.bmp">
*/

.TITLE {
	font : bold 18pt arial, verdana, sans-serif;
	color : White;
	background: #003366;
}

.PAGE_DESCRIPTION {
	font: 10pt arial, verdana, sans-serif;
	color : White;
	background : #336699;
}

.CONTENTS {
	font: bold 12pt arial, verdana, sans-serif;
	color : #FFFFCC;
	background : #336699;
}

.DRAWING_LABEL {
	font: bold 10pt arial, verdana, sans-serif;
	color : #336699;
	background : #FFFFCC;
}

.DRAWING_DESCRIPTION {
	font: 10pt arial, verdana, sans-serif;
	color : black;
	background : #FFFFCC;

}

.IMAGE {
	font : bold 10pt arial, verdana, sans-serif;
	color : White;
	background: #FFFFCC;
}

.SUMMARY {
	background: White;
	font : 10pt arial, verdana, sans-serif;
	color : Black;
}


.XMLCOLLAPSE {
    display: none;
}
